<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!-- Test -->
    <add name="DBConnection" connectionString="SERVER=VH244.spaceweb.ru;DATABASE=olegkirian_test;UID=olegkirian_test;PASSWORD=Skidrf2016;"/>

    <!-- Prod -->
    <!-- <add name="DBConnection" connectionString="SERVER=VH244.spaceweb.ru;DATABASE=olegkirian;UID=olegkirian;PASSWORD=Skidrf2016;"/>-->

  </connectionStrings>
  
  <appSettings>
    
    <add key="ftpServer" value="77.222.62.66"/>
    <add key="ftpUsername" value="olegkirian"/>
    <add key="ftpPassword" value="as25gZqA4"/>
    <add key="DBFoodOffersImportTable" value="food_offers_import"/>
    

  </appSettings>
</configuration>
